:root {
    --bg: #313131;
    --text: white;
}

html, body {
    height: 100%;
}
body {
    background: var(--bg);
    color: var(--text);
    overflow: hidden;
    font-family: 'VT323', monospace;
}

h1, h2 {
    font-weight: 400;
    text-transform: uppercase;
}

h1 {
    font-size: 3em;
    text-align: center;
}

.content {
    width: calc(100% + 20px);
    height: 100%;
    overflow-y: scroll;
}

.content > div {
    margin: auto;
}

.content p {
    font-size: 1.5em;
}

aside a {
    display: block;
    margin-bottom: 50px;
    text-align: right;
}

.content > div {
    min-height: 100%;
    position: relative;
}

@media (max-width: 600px) {
    .content {
        width: 90%;
        margin: auto;
    }
}


